Turtle Trace Features

#000000 the turtle will provide a method to rotate it to an absolute angle

#000001 the turtle will provide a method to rotate it by a relative angle

#000002 the turtle will provide a method to translate it to an absolute position

#000003 the turtle will provide a method to translate it by a relative distance

#000004 the turtle will provide a method to toggle whether a path is drawn on the next move


Geometry Solve Features

#001000 the turtle will provide a method to return whether a path is "connected" or "disconnected"

#001001 the turtle will provide a method to return whether a path is "concave" or "convex"

#001002 the turtle will provide a method to return whether a path is "simple" or "complex"

#001003 the turtle will provide a method to return the length of the polyline


Bale Features (Source: http://www.thealmightyguru.com/Pointless/AnimalGroups.html)

#002000 the system will be able to track multiple turtles to produce an aggregate path

#002001 the system will provide a way to split the current turtle into two or more turtles with different initial orientations


Render Features

#003000 the turtle renderer will allow the path stored in the turtle to be output graphically to a canvas

#003001 the turtle renderer will allow the path stored in the turtle to be output graphically to a bitmap

#003002 the turtle renderer will allow a line weight to be specified as a float value [0.0, 1.0]

#003003 the turtle renderer will allow a line color to be specified as a string or a hex value (#00RRGGBB)



Error Handling Features

#004000 the turtle will raise an exception if an invalid angle or distance is input

#004001 the turtle will raise an exception if an invalid graphic output option is chosen

#004002 the turtle will raise an exception if an input moves a turtle out of range [RANGE_MIN, RANGE_MAX]


Configuration Features

#005000 the turtle can be configured to accept degree values or radian values. If no unit is specified during configuration, the turtle will interpret angle values in degrees by default

